*{
    margin: 0px;
}

body{
    background-color: rgb(176, 176, 176);
    margin: 15px;
    margin-top: -30px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.numeros{
    margin-left: auto;
    margin-right: auto;
    margin-top: 135px;
    width: 272px;
}

.num{
    color: white;
    width: 80px;
    height: 65px;
    margin: 4px;
    transition: transform 0.3s;
    background-color: rgb(50, 50, 50);
}

.block1{
    background-color: #515151;
    width: 445px;
    height: 590px;
    display: block;
    float: right;
    margin-right: 0px;
    border: solid 1px black;
}

.block2{
    display: block;
    background-color: white;
    height: 590px;
    width: 820px;
    border: solid 1px rgb(0, 0, 0);
    margin-top: 40px;
}

.block3{
    width: 445px;
    height: 120px;
    background-color: aliceblue;
    float:right;
}

.butn{
    width: 120px;
    height: 65px;
    margin: 5px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: auto;
    transition: transform 0.3s;
}

.butn:hover{
    transform: scale(1.07);
}

.num:hover{
    transform: scale(1.07);
}

.num:active{
    transform: scale(0.9);
}

.butn:active{
    transform: scale(0.9);
}

#digitos{
    background-color: white;
    margin: 40px;
}